@font-face {
  font-family: "bebas-neue-book";
  src: url("BebasNeue Book.otf");
}

@font-face {
  font-family: "bebas-neue-regular";
  src: url("BebasNeue Regular.otf");
}

@font-face {
  font-family: "circular-std-book";
  src: url("Circular-Std-Book.woff");
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #3F8597;
  color: white;
  width: 100%;
  height: 100%;
  line-height: 1.2;
  font-family: "circular-std-book", Helvetica, sans-serif;
}

.page-container-outer {
  overflow-x: auto;
  overflow-y: hidden;
}

.page-container {
  width: 1000px;
  height: 100vh;
  min-height: 700px;
  position: relative;
  margin: 0 auto;
}

.main-shapes,
.main-shapes-mobile {
  pointer-events: none;
  user-select: none;
}

.main-shapes {
  height: 1100px;
  position: absolute;
  left: -370px;
  top: 50%;
  transform: translateY(-50%);
}

.main-shapes-mobile {
  display: none;
}

.main-text {
  position: absolute;
  top: calc(50% - 100px);
  right: 0;
  text-align: right;
}

.main-text__title {
  font-size: 110pt;
  font-family: "bebas-neue-book", Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-weight: lighter;
}

.main-text__title-bold {
  font-family: "bebas-neue-regular", Helvetica, sans-serif;
}

.main-text__subtext {
  margin-top: -20px;
  display: flex;
  justify-content: flex-end;
}

.main-text__date {
  font-size: 13pt;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-right: 1px solid white;
  padding-right: 20px;
  margin: 0 20px 0 0;
  font-weight: 300;
}

.main-text__info {
  font-size: 13pt;
  width: 330px;
  text-align: justify;
  margin: 0;
}

.subscribe-form {
  margin-top: 50px;
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.subscribe-form__input {
  color: #374344;
  border: 0;
  background-color: white;
  padding: 10px;
  width: 200px;
  transition: width 0.1s ease-out;
}

.subscribe-form--has-text .subscribe-form__input,
.subscribe-form__input:focus {
  width: 250px;
}

.subscribe-form__button {
  background-color: #B46B21;
  color: white;
  border: 0;
  padding: 10px;
  margin-top: 1em;
  opacity: 0;
  position: relative;
  right: -5px;
  transition: opacity 0.1s ease-out, right 0.1s ease-out, margin 0.1s ease-out;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.2em;
  font-size: 10pt;
  margin-bottom: -50px;
  pointer-events: none;
}

.subscribe-form--has-text .subscribe-form__button,
.subscribe-form__input:focus + .subscribe-form__button {
  opacity: 1;
  right: 0;
  margin-bottom: 0;
  pointer-events: auto;
}

.subscribe-form__button[disabled] {
  opacity: 0.8;
}

.subscribe-form__text {
  font-size: 10pt;
}

.contact-info {
  position: absolute;
  right: 0;
  bottom: 30px;
  text-align: right;
}

.contact-info__link {
  color: white;
  text-decoration: none;
}

.contact-info__link:hover {
  text-decoration: underline;
}

.contact-info__icon-link {
  margin: 0 5px;
}

.contact-info__bar {
  border-right: 1px solid white;
  margin: 0 10px;
}

@media (max-width: 1020px) {
  .page-container-outer {
    overflow-y: visible;
  }

  .page-container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-shapes {
    display: none;
  }

  .main-shapes-mobile {
    display: block;
    width: 70%;
    max-width: 270px;
    margin: 0 auto;
  }

  .main-text {
    position: static;
    text-align: center;
  }

  .main-text__title {
    font-size: 40pt;
  }

  .main-text__subtext {
    display: block;
    margin-top: -5px;
  }

  .main-text__date {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
    font-size: 12pt;
  }

  .main-text__info {
    margin: 10px auto 0;
    padding: 0 20px;
    font-size: 12pt;
    width: auto;
    max-width: 500px;
  }

  .subscribe-form {
    align-items: center;
    margin-top: 20px;
  }

  .subscribe-form__input {
    padding: 5px 10px;
    font-size: 11pt;
  }

  .subscribe-form__button {
    padding: 8px 10px;
    font-size: 10pt;
  }

  .subscribe-form__text {
    margin-left: 10px;
    margin-right: 10px;
  }

  .contact-info {
    position: static;
    text-align: center;
    font-size: 10pt;
  }
}